// ********* z-index's ************
//section-video-tour bg-image z-index: 1;
//#clouds z-index: 2;
//#shadow z-index: 3;
//#plane  z-index: 4;
//header  z-index: 5;
//slick-arrows z-index: 10;
//.button-play-wrapper z-index: 15;
//help-me block z-index: 20;
//help-me button z-index: 20;

$blueTemplateColor: #00b1ff;
$redTemplateColor: #ef5b5b;
$greyTextColor: #777777;
$goldenTextColor: #ffc811;

@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap';
@import 'bootstrap/bootstrap-grid';
@import 'slick-slider-styles';
@import url('https://fonts.googleapis.com/css?family=Marck+Script|Montserrat:400,400i,500,600,700');

// svg rules
.cls-1 {
  fill: $blueTemplateColor
}

.cls-2 {
  fill: $redTemplateColor;
}

.cls-3 {
  fill: #fff;
}

html, body {
  font: 16px/1 'Montserrat', sans-serif;
  @media screen and (max-width: 991px) {
    font-size: 14px;
  }
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
  @media screen and (max-width: 575px) {
    font-size: 10px;
  }

  h2 {
    font: 1.75rem 'Marck Script', cursive;
    color: $redTemplateColor;
    text-transform: capitalize;
    margin: 0.5rem 0;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0.75rem 0;
  }

  h4 {
    font-size: 1.125rem;
    font-weight: 700;
  }

  p {
    color: $greyTextColor;
    line-height: 1.75rem;
    margin: 1rem 0;
  }

  .logo {
    &:hover {
      text-decoration: none;
    }

    display: flex;
    align-items: center;

    #logo-svg, .logo-text {
      display: inline-block;
    }

    .logo-text {
      margin-left: 0.75rem;
      color: #000;
      text-align: center;

      h1 {
        font-size: 1rem;
        font-weight: 700;
        margin: 0;
      }

      span {
        font-size: 0.75rem;
      }
    }
  }

  .section-head {
    text-align: center;
    margin-bottom: 4rem;
    @media screen and (max-width: 991.98px) {
      margin-bottom: 2rem;
    }
    @media screen and (max-width: 767.98px) {
      margin-bottom: 1.5rem;
    }
    @media screen and (max-width: 575.98px) {
      margin-bottom: 1rem;
    }
  }

  .container, .container-fluid {
    padding: 0;
  }

  section:not(.hero-section):not(.section-video-tour):not(.section-clients-feedback):not(.section-accordion-slider):not(.section-gmap) {
    padding: 5rem 0;
  }

  .hidden {
    visibility: hidden;
  }

  .row, .form-row {
    margin: 0 !important;
  }
}

header.container {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 5;

  .navbar {
    padding: 2rem 1.5rem;
    border-radius: 0 0 25px 25px;
    border-right: 2px solid #252525;
    border-bottom: 2px solid #252525;
    border-left: 2px solid #252525;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    transition: all 1s ease-in;

    a {
      cursor: pointer;
    }

    .navbar-collapse, .btn {
      font-weight: 700;
    }

    .navbar-collapse {
      position: relative;

      &.show, &.collapsing {
        margin-bottom: calc((1.5rem / 2) * -1);

        .navbar-nav {
          padding: 0.75rem 0 0;
        }

        .dropdown-menu.show {
          display: flex;
          flex-wrap: wrap;

          .dropdown-item {
            display: inline-block;
            width: auto;
          }
        }

        button {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  .navbar-nav {
    li {
      margin-right: 0.75rem;
    }
  }
}

.hero-section {
  .hero-section-slider {
    & > div {
      position: relative;

      .text-container {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 13%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.7);
        border: 2px solid #252525;
        border-radius: 25px;
        padding: 1.5rem;

        strong {
          font-size: 1.5rem;
          text-transform: capitalize;
          margin-bottom: 1rem;
        }

        h2 {
          font-size: 2rem;
          margin: 1rem 0;
        }

        h3 {
          margin: 1rem 0;
        }

        @media screen and (max-width: 969px) {
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 1rem;
          strong {
            font-size: 1rem;
          }
          h2 {
            font-size: 1.5rem;
          }
          h3 {
            font-size: 1rem;
          }
        }
        @media screen and (max-width: 767px) {
          top: 70%;
        }
        @media screen and (max-width: 500px) {
          top: initial;
          bottom: 1rem;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 80%;
          max-height: 60%;
          transform: translate(0, 0);
        }
        @media screen and (max-width: 440px) {
          display: none;
        }
      }
    }

    .slider-girl {
      background: url("../images/hero-bg-girl.jpg") no-repeat;
    }

    .slider-beach {
      background: url("../images/hero-bg-beach.jpg") no-repeat;
    }

    .slider-snowboard {
      background: url("../images/hero-bg-snowboard.jpg") no-repeat;
    }

    .slider-great-wall {
      background: url("../images/hero-bg-great-wall.jpg") no-repeat;
    }

    .slider-dubai {
      background: url("../images/hero-bg-dubai.jpg") no-repeat;
    }

    .slider-india {
      background: url("../images/hero-bg-india.jpg") no-repeat;
    }

    .slider-rocks {
      background: url("../images/hero-bg-rocks.jpg") no-repeat;
    }

    .slider-snowboard, .slider-beach, .slider-dubai, .slider-girl, .slider-great-wall, .slider-india, .slider-rocks {
      height: 100vh;

      @media screen and (orientation: landscape) {
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      @media screen and (orientation: portrait) {
        width: 100%;
        height: 50vw;
        background-size: cover;
      }
    }
  }
}

.section-feature-trip {
  position: relative;

  .travel-cards-container {
    position: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 1770px) {
    padding: 80px 20px !important;
    max-height: 540px;
    .section-head {
      max-width: 270px;
      text-align: left;
    }
    .travel-cards-container {
      top: -540px;
      left: 300px;
    }
  }


  & .travel-card {
    display: inline-block;
  }
}

.travel-card {
  width: 370px;
  margin: 5px;
  border: 1px solid $greyTextColor;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  @media screen and (max-width: 767px) {
    width: 310px;
  }

  img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid $greyTextColor;
  }

  .info-block {
    padding: 15px;
    height: auto;

    h4 {
      display: inline-block;
    }

    .current-price {
      float: right;
      color: $blueTemplateColor;
      font-weight: 700;
    }

    .past-price {
      float: right;
      color: $redTemplateColor;
      margin-right: 10px;
      text-decoration: line-through;
      font-weight: 600;
    }

    p {
      line-height: 1.5rem;
      margin: 0;
    }
  }

  .rating-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid $greyTextColor;
    box-sizing: border-box;
    height: 48px;

    .rating-stars {
      font-weight: 500;
    }

    .stars {
      display: flex;
    }

    .stars__state {
      display: none;
    }

    .stars__star {
      width: 26px;
      height: 24px;
      margin: 0;
      background: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='80'%20height='30'%3E%3Cpath%20d='M17.5,12.5h-8.5l6.8,5-2.6,8.1,6.8-5,6.8,5-2.6-8.1,6.8-5h-8.5l-2.6-8.1z'%20fill='%23EFA1A5'%20stroke='%23EFA1A5'/%3E%3Cpath%20d='M57.5,12.5h-8.5l6.8,5-2.6,8.1,6.8-5,6.8,5-2.6-8.1,6.8-5h-8.5l-2.6-8.1z'%20fill='%23EF5B5B'%20stroke='%23B24D4D'/%3E%3C/svg%3E") -47px -3px;
    }

    .stars__state:checked ~ .stars__star {
      background-position: -7px -3px;
    }

    .stars:hover > label.stars__star {
      background-position: -47px -3px;
    }

    .stars__star:hover ~ label.stars__star {
      background-position: -7px -3px;
    }
  }
}

.section-convenience {
  background: $greyTextColor url("../images/girl-on-the-beach.jpg") center no-repeat;
  background-size: cover;

  .container {
    opacity: 1;

    h2, h3 {
      text-align: center;
    }

    .section-convenience-slider {
      article {
        box-sizing: border-box;
        margin: 0 0.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 370px;
        height: 400px;
        border: 1px solid $greyTextColor;
        border-radius: 10px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.75);
        @media screen and (max-width: 575px) {
          height: 300px;
        }
        @media screen and (max-width: 479px) {
          height: 220px;
          padding: 1rem 5rem;
        }

        svg {
          width: 6rem;
          height: auto;
        }

        p {
          color: #000;
        }
      }
    }
  }
}

.section-why-choose-us {
  .accordion {
    padding: 0 14%;

    .card-header {
      svg {
        width: 15%;
      }

      .btn {
        font-weight: 600;
        color: $blueTemplateColor;
        width: 100%;
        text-align: start;

        span {
          @media screen and (max-width: 767px) {
            font-size: 1rem;
            margin-left: 0.5rem;
          }
          @media screen and (max-width: 575px) {
            font-size: 1rem;
            margin-left: 0.25rem;
            letter-spacing: -0.7px;
          }
        }
      }
    }
  }
}

.section-tour-packages {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/tour-package.jpg") top center no-repeat;

  .travel-card {
    margin: 0 15px;
    @media screen and (max-width: 440px) {
      margin: 0 5px;
    }
  }

  .section-head {
    margin: 5rem 0;
  }

  .form-custom-package {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);

    input[type="date"]:before {
      content: attr(placeholder) !important;
      color: $greyTextColor;
      margin-right: 0.5em;
    }

    input[type="date"]:focus:before,
    input[type="date"]:valid:before {
      content: "";
    }

    div.col {
      @media screen and (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }

    button[type="submit"] {
      width: 100%;
    }
  }

  .section-head {
    h3 {
      font-size: 1.5rem;
      color: #fff;
    }
  }
}

.section-best-places {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/bg-world-map.png") top center no-repeat;

  @media screen and (max-width: 991px) {
    background-repeat: repeat-y;
    background-size: contain;
  }

  .row {
    @media screen and (max-width: 420px) {
      margin: 0;
      padding: 0;
    }

    .col {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 50px;

      img {
        width: 30%;
        align-self: flex-end;
        @media screen and (max-width: 420px) {
          width: 15%;
          align-self: center;
        }
      }

      .wrapper-country-info {
        max-width: 60%;
        margin-left: 10%;
        @media screen and (min-width: 992px) {
          margin-left: 0.5rem;
          max-width: 68%;
        }
        @media screen and (max-width: 420px) {
          max-width: 80%;
          margin-left: 2%;
        }

        h3, h4 {
          text-align: center;
          color: darken($blueTemplateColor, 30%);
        }

        .column {
          column-count: 2;
          column-gap: 10px;
        }

        a {
          padding: 5px;
          display: block;
          text-decoration: none;
          color: darken($greyTextColor, 30%);

          &:hover {
            color: $blueTemplateColor;
          }

          i {
            padding-right: 10px;
          }
        }
      }
    }
  }
}

.section-awards {
  background-color: $redTemplateColor;

  .row {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      @media screen and (min-width: 1139px) {
        justify-content: space-around;
      }
      @media screen and (min-width: 992px) {
        padding-right: 0;
        padding-left: 0;
      }

      i {
        @media screen and (min-width: 992px) {
          padding: 0 0.5rem;
        }
        font-size: 3.5rem;
        padding: 0 2rem;
        color: $goldenTextColor;
      }

      .award-wrapper {
        display: inline-block;
        color: #fff;

        h3 {
          font-size: 3rem;
          margin: 0;
        }

        span {
          text-transform: uppercase;
        }
      }
    }
  }
}

.section-video-tour {
  background: url("../images/bg-plane-top.png") no-repeat bottom;
  background-size: contain;
  position: relative;
  overflow: hidden;

  .bg-image {
    position: relative;
    width: 100%;
    z-index: -1;
  }

  #plane, #shadow {
    position: absolute;
    width: 25vw;
    perspective: 800px;
  }

  #plane {
    z-index: 4;
    top: 11%;
    left: 58%;
  }

  #shadow {
    z-index: 3;
    top: 17%;
    left: 59%;
  }

  #clouds-1, #clouds-2 {
    position: absolute;
    width: 120vw;
    perspective: 800px;
    top: 0;
    left: 0;
    z-index: 2;
  }

  a.button-play-wrapper {
    position: absolute;
    z-index: 15;
    left: 12%;
    top: 66%;
    color: #fff;
    font-size: 4rem;
    text-decoration: none;
    @media screen and (max-width: 991px) {
      font-size: 3rem;
      top: 60%;
    }
    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }

    &:hover {
      text-shadow: 0 0 4rem $blueTemplateColor;
    }
  }
}

.section-clients-feedback {
  margin: -2px 0;
  padding: 10px 0 !important;
  background: rgb(125, 197, 253);
  background: -moz-linear-gradient(top, #47C7FE 1%, rgba(31, 186, 255, 1) 100%);
  background: -webkit-linear-gradient(top, #47C7FE 1%, rgba(31, 186, 255, 1) 100%);
  background: linear-gradient(to bottom, #47C7FE 1%, rgba(31, 186, 255, 1) 100%);

  .section-head {
    h2 {
      color: #000;
      margin-top: 0;
    }

    h3 {
      color: #fff;
    }
  }

  .clients-feedback {

    .nav-tabs {
      border: none;

      .nav-item {
        display: flex;
        align-items: center;
        text-align: center;
        width: 13%;

        .nav-link {
          padding: 0.8rem 0.3rem;
        }

        img {
          width: 80%;
          opacity: 0.7;
          border-radius: 20px;

          &:hover {
            opacity: 1;
          }
        }

        .active {
          img {
            width: 100%;
            opacity: 1;
          }

          &.nav-link {
            border-bottom: none;
          }
        }
      }
    }

    .tab-content {
      border: 4px solid #fff;
      border-radius: 1rem;
      padding: 2.5rem;

      .tab-pane {
        color: #fff;

        blockquote {
          font-size: 1.25rem;
        }

        .feedback-footer {
          text-align: center;

          h3 {
            font-size: 1.5rem;
          }

          h4 {
            font-style: italic;
            opacity: 0.8;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.section-blog {
  background: url(../images/bg-plane-bottom.png) no-repeat top;
  background-size: contain;

  .blog-grid {
    .row {
      .col {
        margin-bottom: 2rem;

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:hover {
            text-decoration: none;

            img {
              opacity: 0.8;
            }
          }

          img {
            border-radius: 10px;
            width: 35%;
          }

          .wrapper-blog-content {
            padding: 1rem;

            .wrapper-blog-date-time {
              i {
                color: $greyTextColor;

                span {
                  font: 1rem/1 'Montserrat', sans-serif;
                }

                &:last-child {
                  float: right;
                  margin-right: 40px;
                }
              }
            }
          }
        }
      }
    }
  }

  .btn {
    display: block;
    margin: 0 auto;
    width: 160px;
  }
}

.section-get-apps {
  padding-bottom: 0 !important;
  @media screen and (max-width: 440px) {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/get-apps-hand-iphone.png") no-repeat bottom;
    background-size: contain;
    padding-bottom: 5rem !important;
    .row > .col {
      display: none;
    }
  }

  img {
    width: 100%;
  }

  .col:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
    }

    p {
      text-align: center;
      margin: 2rem 0;
      color: #000;
    }

    .buttons-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;

      a {
        transition: all 0.5s;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        color: #fff;
        background-color: $redTemplateColor;
        width: 45%;
        border-radius: 20px;
        padding: .75rem;

        &:hover {
          opacity: 0.9;
          box-shadow: 0 0 1.5rem darken($redTemplateColor, 30%);
        }

        &:active {
          opacity: 1;
          background-color: darken($redTemplateColor, 50%);
        }

        i {
          font-size: 4rem;
          display: block;
          @media screen and (max-width: 767px) {
            font-size: 2.5rem;
          }
        }

        .available-in {
          @media screen and (max-width: 991px) {
            text-align: center;
          }

          span {
            text-transform: capitalize;
            display: block;
            margin-bottom: 6px;
            @media screen and (max-width: 767px) {
              font-size: 0.8rem;
            }
          }

          strong {
            text-transform: uppercase;
            display: block;
            @media screen and (max-width: 767px) {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

.section-partners {
  padding: 10rem 0 0 0 !important;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.1) 100%), url("../images/bg-beach.jpg") center no-repeat;

  .section-head {
    h3 {
      color: #fff;
    }
  }

  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;

    img {
      width: 15%;
    }
  }

  .subscribe-email {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5rem 0;

    .row {
      margin: 0;

      .col:last-child {
        font-size: 0;

        input {
          height: 5rem;
          width: 75%;
          vertical-align: top;
          font-size: 1.25rem;

          &[placeholder] {
            padding-left: 1.5rem;
            font-size: 1rem;
          }
        }

        button {
          height: 5rem;
          width: 5rem;
          border: none;
          font-size: 3rem;
          color: #fff;
          background-color: $blueTemplateColor;
          cursor: pointer;

          &:hover {
            background-color: darken($blueTemplateColor, 30%);
            transition: 0.5s;
          }
        }
      }
    }
  }
}

.section-gmap {
  min-height: 42rem;
}

.section-feedback-form {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/bg-footer.jpg") repeat;

  .container {
    position: relative;
    padding: 3rem 0;
    margin-top: -18rem;
    background-color: #fff;
    border: 3px solid $greyTextColor;
    border-radius: 1rem;

    form {
      .col {
        padding: 0 20px;

        .form-inline {
          justify-content: space-between;
        }

        & > * {
          margin-bottom: 10px;
        }

        .form-check {
          width: 70%;

          .form-check-input {
            position: relative;
            margin: 0;
          }
        }

        input[type="submit"] {
          width: 30%;
        }

        .textarea-wrapper {
          height: 80%;

          textarea {
            resize: none;
            height: 100%;
          }
        }

      }
    }
  }
}

footer {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../images/bg-footer.jpg") repeat;

  .container {
    padding: 2rem 0;
  }

  .row {
    margin: 0;

    .col-12 {
      @media screen and (max-width: 575px) {
        padding: 1rem 4rem;
      }
    }

    div:nth-child(1) {

      i {
        font-size: 1.5rem;
        color: $blueTemplateColor;
        margin: 1rem 1rem 1rem 0;
      }
    }

    div.col-sm-3:nth-child(2), div.col-sm-3:nth-child(3) {
      padding-left: 1rem;

      ul {
        list-style: none;
        padding: 0;

        li {
          text-transform: uppercase;
          font-weight: 500;
          margin-top: 2rem;

          a {
            color: #000;

            i {
              margin-right: 0.75rem;
              color: $blueTemplateColor;
              vertical-align: bottom;
            }

            &:hover {
              text-decoration: none;
              color: $blueTemplateColor;
            }
          }
        }
      }
    }

    div:nth-child(2) {
      @media screen and (max-width: 575px) {
        text-align: center;
      }
    }
  }

  .container-fluid {
    background-color: $blueTemplateColor;
    text-align: center;

    span {
      line-height: 2.5rem;
      color: #fff;
    }
  }
}


// ************************** styles for TOUR-COUNTRY page ************************************
.section-accordion-slider {
  font-size: 0;

  ul.accordion-slider {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0;

    &:hover li:nth-child(5) {
      width: 50px;
    }

    li {
      width: 3%;
      overflow: hidden;
      cursor: pointer;
      display: block;
      box-shadow: 1px 3px 10px $greyTextColor;
      transition: all 2s;

      img {
        height: 100%;
        width: 76vw;
      }

      &:hover {
        width: 76.5%;
        box-shadow: 1px 3px 10px $blueTemplateColor;
        transition: all 0.5s;
      }

      &:nth-child(5) {
        width: 76.5%;

        &:hover {
          width: 76.5%;
        }
      }
    }
  }
}

.section-tour-information {
  padding: 40px 0;

  .tour-description, .tour-specification {
    padding: 40px 0;
    border-bottom: 2px solid $greyTextColor;
    @media screen and (max-width: 767.98px) {
      h4 {
        font-size: 1rem;
        text-align: center;
      }
    }

    .col {
      padding: 1rem;

      img {
        width: 100%;
      }
    }
  }

  .tour-description {
    & .col:last-child {
      border: 1px solid $greyTextColor;
    }
  }

  .tour-specification {
    line-height: 2rem;

    strong {
      i {
        font-size: 2rem;
        vertical-align: sub;
        color: $blueTemplateColor;
      }
    }

    span {
      color: $greyTextColor;
    }
  }

  .tour-route {
    padding: 40px 0;

    .accordion {
      .card:first-child i {
        color: $redTemplateColor;
      }

      .card:last-child i {
        color: #009900;
      }

      h3 {
        i {
          text-align: center;
          margin-left: 20px;
          min-width: 40px;
          color: $blueTemplateColor;
          font-size: 2rem;
          vertical-align: sub;

        }

        strong {
          color: $blueTemplateColor;
        }
      }
    }
  }
}

// ******** BACK TO TOP ARROW STYLES **************

#back-to-top-button {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  padding: 15px;

  span {
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid $blueTemplateColor;
    border-right: 5px solid $blueTemplateColor;
    transform: rotate(-135deg);
    margin: -10px;
    animation: animate 3s infinite;
  }

  &:hover {
    span {
      animation-duration: 1s;
      border-color: darken($blueTemplateColor, 30%);
    }
  }

  span:nth-child(2) {
    animation-delay: -0.2s;
  }

  span:nth-child(3) {
    animation-delay: -0.4s;
  }

  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(-135deg) translate(-5px, -5px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(-135deg) translate(5px, 5px);
    }
  }
}

// *********** styles for HELP ME window ***************

#help-me-block {
  position: fixed;
  z-index: 20;
  top: 50%;
  right: 0;
  max-width: 20vw;
  height: auto;
  text-align: center;
  padding: 2rem 0.5rem;
  background-color: lighten($blueTemplateColor, 50%);
  border: 3px solid $redTemplateColor;
  border-right: none;
  border-radius: 25px 0 0 25px;
  transform: translateY(-50%);
  @media screen and (max-width: 991px) {
    max-width: 50vw;
  }
  @media screen and (max-width: 991px) {
    max-width: 50vw;
  }

  input[type="tel"] {
    display: block;
    width: 100%;
    margin: 0 auto 1rem;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid $blueTemplateColor;
    color: $redTemplateColor;

    &:focus {
      &::placeholder {
        visibility: hidden;
      }
    }

    &::placeholder {
      color: $redTemplateColor;
      text-align: center;
    }
  }

}

.not-valid, .valid {
  margin: 0;
  font-size: 0.8rem;
}

.not-valid {
  color: $redTemplateColor;
}

.valid {
  color: #008f06;
}

// *********** styles for HELP ME button ***************

#help-me-button {
  position: fixed;
  z-index: 20;
  top: 50%;
  right: 0;
  transform: translate(-35%, -50%);

  .help-me-button, .circle, .phone {
    position: absolute;
    width: 5rem;
    height: 5rem;
    color: #fff;
    text-align: center;
    border-radius: 50%;
  }

  .help-me-button {
    background: $blueTemplateColor;
    position: relative;
    transition: .5s;

    &:hover {
      background: darken($blueTemplateColor, 30%);
    }

    &:hover i {
      transition: .5s ease-in-out;
      transform: scale(0);
    }

    &:hover .text {
      transform: scaleX(1);
      transition: .5s ease-in-out;
      opacity: 1;
    }

    &:hover::before,
    &:hover::after {
      content: '';
      position: absolute;
      border: 1px solid #29AEE3;
      left: -1rem;
      right: -1rem;
      top: -1rem;
      bottom: -1rem;
      border-radius: 50%;
      animation: pulse 1.8s linear infinite;
      opacity: 0;
    }

    &:hover::after {
      animation-delay: .5s;
    }

    .circle {
      cursor: pointer;
      z-index: 1;
      overflow: hidden;
    }

    .phone {
      font-size: 3rem;
      line-height: 5rem;
      animation: phone 2s ease-in-out infinite;

      i {
        transition: .5s ease-in-out;
      }
    }

    .text {
      position: absolute;
      opacity: 0;
      text-transform: uppercase;
      font-weight: 700;
      padding: 1.5rem 0;
      font-size: 1rem;
      transform: scaleX(-1);
      transition: .5s ease-in-out;
    }

    @keyframes phone {
      0%, 100% {
        transform: rotate(-20deg);
      }
      50% {
        transform: rotate(21deg);
      }
    }
    @keyframes pulse {
      0% {
        transform: scale(0.5);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: scale(1.2);
        opacity: 0;
      }
    }
  }
}

// *********** styles for modal window ***************

.modal-content {
  text-align: center;

  .modal-body {
    i {
      font-size: 5rem;
      color: $blueTemplateColor;
    }
  }
}

// *********** styles for section-tour-order-form  calculator***************

.section-tour-order-form {
  .col-12 > div {
    margin-bottom: 2rem;
  }

  label {
    min-width: 50%;
  }

  input[type="radio"] {
    margin-right: 1rem;
  }

  .radio-button-wrapper {
    margin-bottom: 1rem;
  }

  .quantity-num, .quantity-arrow-minus, .quantity-arrow-plus {
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    vertical-align: middle;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .form-row > div:last-child {
    display: flex;
    flex-direction: column;
  }

  table {
    width: 100%;
    height: 35%;

    td, th {
      border: 1px solid $greyTextColor;
      text-align: center;
    }

    th {
      color: darken($redTemplateColor, 30%);
      font-size: 1.2rem;
    }

    td {
      font-size: 1rem;
    }

    border-collapse: collapse;
  }

  strong {
    color: darken($redTemplateColor, 30%);
  }

  .discount, .total-price, .standart-price {
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0;

    span {
      min-width: 4rem;
      display: inline-block;
      text-align: center;
      margin: 0 1rem;
    }
  }

  .standart-price {
    margin-top: auto;
  }

  .discount {
    color: $blueTemplateColor;
  }

  .total-price {
    color: $redTemplateColor;
  }
}




