//$slick-font-path: "./fonts/" !default;
//$slick-font-family: "slick" !default;
//$slick-loader-path: "./" !default;
//$slick-arrow-color: white !default;
//$slick-dot-color: black !default;
//$slick-dot-color-active: $slick-dot-color !default;
//$slick-prev-character: "\2190" !default;
//$slick-next-character: "\2192" !default;
//$slick-dot-character: "\2022" !default;
//$slick-dot-size: 6px !default;
//$slick-opacity-default: 0.75 !default;
//$slick-opacity-on-hover: 1 !default;
//$slick-opacity-not-active: 0.25 !default;

//@function slick-image-url($url) {
//  @if function-exists(image-url) {
//    @return image-url($url);
//  }
//  @else {
//    @return url($slick-loader-path + $url);
//  }
//}
//
//@function slick-font-url($url) {
//  @if function-exists(font-url) {
//    @return font-url($url);
//  }
//  @else {
//    @return url($slick-font-path + $url);
//  }
//}
//
///* Slider */
//
//.slick-list {
//  .slick-loading & {
//    background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
//  }
//}
//
///* Icons */
//@if $slick-font-family == "slick" {
//  @font-face {
//    font-family: "slick";
//    src: slick-font-url("../fonts/slick.eot");
//    src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("../fonts/slick.woff") format("woff"), slick-font-url("../fonts/slick.ttf") format("truetype"), slick-font-url("../fonts/slick.svg#slick") format("svg");
//    font-weight: normal;
//    font-style: normal;
//  }
//}

// ***** styles for slick dots *********
.slick-dots {
  position: absolute;
  bottom: 50px;
  left: calc(50% - 125px);
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  //text-align: center;
  //width: 100%;
  @media screen and (min-width: 1770px) {
    bottom: 50px;
    left: 12%;
  }

  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 8px;
    padding: 0;
    cursor: pointer;

    button {
      border: 1px solid #6e6e6e;
      border-radius: 50%;
      background-color: $redTemplateColor;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      padding: 0;
      cursor: pointer;
      vertical-align: top;

      &:hover /*, &:focus */
      {
        outline: #00b1ff;
        //background-color: lighten($redTemplateColor, 1);
        background-color: darken($redTemplateColor, 30);
        //background-color: $redTemplateColor;

        &:before {
          opacity: 1;
        }
      }

      &:before {
        position: absolute;
        top: 5px;
        left: 5px;
        content: '';
        display: block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        //font-family: $slick-font-family;
        //font-size: $slick-dot-size;
        //line-height: 20px;
        //text-align: center;
        background-color: $redTemplateColor;
        //opacity: $slick-opacity-not-active;
        //-webkit-font-smoothing: antialiased;
        //-moz-osx-font-smoothing: grayscale;
      }
    }

    &.slick-active button:before {
      background-color: darken($redTemplateColor, 30);
      opacity: 1;
    }
  }
}


// ***** styles for slick arrows *********
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  //-webkit-transform: translate(0, -50%);
  //-ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 10;

  &:hover, &:focus {
    outline: none;
    background: transparent;
    color: transparent;

    &:before {
      //opacity: $slick-opacity-on-hover;
      opacity: 1;
      text-shadow: 0px 0px 5px #000;
    }
  }

  &.slick-disabled:before {
    //opacity: $slick-opacity-not-active;
    opacity: 0.3;
  }

  &:before {
    font: 40px/1 'Montserrat', sans-serif;
    //font-size: 20px;
    //line-height: 1;
    //color: $slick-arrow-color;
    color: $redTemplateColor;
    //opacity: $slick-opacity-default;
    opacity: 0.7;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
  }
}

.slick-prev {
  left: -50px;
  @media screen and (max-width: 1280px) {
    left: -20px;
  }
  //[dir="rtl"] & {
  //  left: auto;
  //  right: -25px;
  //}
  &:before {
    content: '<';
    //[dir="rtl"] & {
    //  content: $slick-next-character;
    //}
  }
}

.slick-next {
  right: -50px;
  @media screen and (max-width: 1280px) {
    right: -20px;
  }
  //[dir="rtl"] & {
  //  left: -25px;
  //  right: auto;
  //}
  &:before {
    content: '>';
    //[dir="rtl"] & {
    //  content: $slick-prev-character;
    //}
  }
}